<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
	<head><title>Message</title>
		<meta http-equiv=Content-Type content="text/html; charset=us-ascii">
	</head>
	<body>
		<div class="content-container">
			<div class="content">
				
		<div><img src="http://origin.ih.constantcontact.com/fs053/1102328932279/img/3.jpg"/></div>
		<p>Available for Sale:</p>
		
		<!-- Available for sale tag (text) -->
		<h2 class="drt_tag" id="sale_desc" attr="type_text" title="Sale Description" >Enter sale description here...</h2>
		<p>Direct from... </p>
		
		<!-- Sale from tag (text) -->
		<font color="#000080"><h1 class="drt_tag" id="sale_from" attr="type_text" title="Sale From">Enter bank information here...</h1></font>
		<div>
		
		<!-- Sale Details tag (list) -->
		<ul class="drt_tag" id="sale_details" attr="type_list" title="Sale Details">
			<li>Sale details item #1</li>
			<li>Sale details item #2</li>
			<li>...</li>
		</ul>
		</div>
		<h3>Bidding Will Be VIA FACSIMILE to 618.692.9501</h3>
		<h3>A Sealed Bid May Be Placed On-Line at <a href="http://www.nlex.com">www.nlex.com</a></h3>
		<font color="#666666"><i><p class="drt_tag" id="conf_agreement" attr="type_textarea optional" title="Confidentiality Agreement">Notice: All prospective buyers must execute a GenCorp Bank Confidentiality Agreement prior to receiving due diligence.<br />Please link to 
			<a href="http://www.nlex.com">www.nlex.com</a> or call 800.264.3683 for more information. 
			</p></i></font>
			<u><h2><font weight="normal" color="#000080">BID DEADLINE:
			 <span class="drt_tag" id="deadline_date" attr="type_text" title="Deadline Date" >December 24, 2008 at 4:00 p.m. (EST)</span>
 </font></h2></u>
		<p>For Additional Information Contact
			<span class="drt_tag" id="contact_email" attr="type_contact" title="Contact Email">
				<a href="mailto:chrisj@nlex.com?subject=Website%20Inquiry">Chris Jenkins</a>
			</span>
			or call 800.264.3683
		</p>
		
		<font color="#666666"><p>This 
advertisement is an announcement only and does not constitute an offer to sell, 
nor a solicitation of any offer to buy any loan or loan package referenced 
herein, which shall occur only by soliciting bids in accordance with the 
procedures set forth in the Sales Documents. This announcement is intended 
solely for institutional buyers who qualify as sophisticated institutional 
purchasers experienced in buying loans owned by financial institutions or which 
otherwise deal in such instruments in the ordinary course of their business. All 
loans will be offered "AS IS" and only with representations or warranties, if 
any, as made by seller in a fully executed Purchase and Sale Contract. 
Furthermore, NLEX does not warrant the accuracy of any descriptions of the loan 
portfolio in this announcement (including, but not limited to, the bullet points 
listed above). The descriptions of the loan portfolio above were communicated to 
NLEX by the seller, and NLEX has relied on seller's descriptions in creating 
this announcement. NLEX has no actual knowledge that such descriptions are 
accurate.</p></font>
	</div>
	</div>
	</body>
</html>
